/android/libs/armeabi-v7a
/android/libs/x86
/android/libs/x86_64
/android/libs/arm64-v8a
/java/android/*.jar
/java/zxing/*.jar
/java/vasdolly/*.jar
/java/recyclerview/*.jar
/java/support-layout/*.jar
